<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">@Rutuja11</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/thefoodjournal</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- JPA Annotated POJOs -->
		<mapping class="com.thefoodjournal.myapp.pojo.Profile" />
		<mapping class="com.thefoodjournal.myapp.pojo.Restaurant" />
		<mapping class="com.thefoodjournal.myapp.pojo.RestaurantPics" />
		<mapping class="com.thefoodjournal.myapp.pojo.Review" />
    </session-factory>
</hibernate-configuration>
